.container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
   padding-bottom: 20px;
}

.title {
   font-size: 25px;
   font-weight: 600;
   padding-bottom: 30px;

   @media (max-width: 575px) {
      padding-bottom: 20px;
      font-size: 20px;
   }
}