.saveAvatar{
   .ant-upload-select {
      width: fit-content !important;
      margin-left: 63px;
      margin-top: 20px;
      height: fit-content !important;
      .ant-upload {
         padding: 15px 10px 15px 10px;
      }
   }
}