.container {
   width: 100%;
   max-width: 830px;
   margin: 0 auto;
   padding: 0 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.title {
   font-weight: 600;
   font-size: 40px;
   padding-top: 30px;
   padding-bottom: 50px;

   @media (max-width: 575px) {
      padding-bottom: 30px;
   }
}